<%- include('partials/head') %>

<%- include('partials/searchForm') %>

<% if (searchTerm) {%>
    <% if (data) { %>
        <h2>Showing results for <%= searchTerm%></h2>
        <section>
            <p id="results"></p>
            <ul id="imageList">
                <% for (title of data) { %>
                    <%if (title.show.image) { %>
                        <li>
                            <!-- <%= title.show.image.medium %> -->
                            <img src="<%= title.show.image.medium; %>" alt="">
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </section>
    <% } else {%>
        <p id="results">No results found for <%= searchTerm %></p>
    <% } %>

<% } else { %>
    <h2> Nothing Searched so Nothing Found!</h2>
<% } %>

<%- include('partials/foot') %>
