<%- include('partials/head') %>

<%- include('partials/searchForm') %>

<% if (searchTerm) {%>
    <% if (data) { %>
        <h2>Showing results for <%= searchTerm%></h2>
        <section>
            <div class="container text-center">
                <div class="row row-cols-4">
                    <% for (title of data) { %>
                        <%if (title.show.image) { %>
                            <div class="col mb-5">
                                <img src="<%= title.show.image.medium; %>" alt="">
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </section>
    <% } else {%>
        <p id="results">No results found for <%= searchTerm %></p>
    <% } %>

<% } else { %>
    <h2> Nothing Searched so Nothing Found!</h2>
<% } %>

<%- include('partials/foot') %>
